In [ ]:
%load_ext autoreload
%autoreload 2

import sys

In [4]:
import os

import pandas

from software.dataset.hussain2021 import load_data, load_meta

In [6]:
dataset_path = './data/hx5kkkbr3j-1'
data = load_data(dataset_path)
data.head()

,elapsed,acc_x,acc_y,acc_z,filename,mag_x,mag_y,mag_z,gyro_x,gyro_y,gyro_z,time
0,0.000,-0.809,0.508,0.109,S2-S18-S1-F-R-W-35-E-5-A.csv,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-22 01:43:48.643
1,0.005,-0.815,0.517,0.110,S2-S18-S1-F-R-W-35-E-5-A.csv,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-22 01:43:48.648
2,0.011,-0.812,0.518,0.111,S2-S18-S1-F-R-W-35-E-5-A.csv,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-22 01:43:48.654
3,0.015,-0.811,0.520,0.111,S2-S18-S1-F-R-W-35-E-5-A.csv,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-22 01:43:48.658
4,0.021,-0.815,0.527,0.116,S2-S18-S1-F-R-W-35-E-5-A.csv,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-22 01:43:48.664

In [7]:
meta = load_meta(data)
meta

,setting,subject,session,gender,hand,sensor_location,brush,location,sensor
filename,,,,,,,,,
S2-S18-S1-F-R-W-35-E-5-A.csv,S2,S18,1,F,R,W,E,5,A
S2-S18-S1-F-R-W-35-E-5-G.csv,S2,S18,1,F,R,W,E,5,G
S2-S18-S1-F-R-W-35-E-5-M.csv,S2,S18,1,F,R,W,E,5,M
S2-S18-S1-F-R-A-35-E-5-A.csv,S2,S18,1,F,R,A,E,5,A
S2-S18-S1-F-R-A-35-E-5-M.csv,S2,S18,1,F,R,A,E,5,M
...,...,...,...,...,...,...,...,...,...
S2-S1-S5-M-R-W-29-E-1-G.csv,S2,S1,5,M,R,W,E,1,G
S1-S7-S2-M-R-W-31-M-2-A.csv,S1,S7,2,M,R,W,M,2,A
S1-S7-S2-M-R-A-31-M-2-G.csv,S1,S7,2,M,R,A,M,2,G
S1-S7-S2-M-R-W-31-M-2-G.csv,S1,S7,2,M,R,W,M,2,G
S1-S7-S2-M-R-A-31-M-2-A.csv,S1,S7,2,M,R,A,M,2,A

In [8]:
acc = data.dropna(subset=['acc_x', 'acc_y', 'acc_z']).drop(columns=['mag_x', 'mag_y', 'mag_z', 'gyro_x', 'gyro_y', 'gyro_z'])
acc

,elapsed,acc_x,acc_y,acc_z,filename,time
0,0.000,-0.809,0.508,0.109,S2-S18-S1-F-R-W-35-E-5-A.csv,2020-12-22 01:43:48.643
1,0.005,-0.815,0.517,0.110,S2-S18-S1-F-R-W-35-E-5-A.csv,2020-12-22 01:43:48.648
2,0.011,-0.812,0.518,0.111,S2-S18-S1-F-R-W-35-E-5-A.csv,2020-12-22 01:43:48.654
3,0.015,-0.811,0.520,0.111,S2-S18-S1-F-R-W-35-E-5-A.csv,2020-12-22 01:43:48.658
4,0.021,-0.815,0.527,0.116,S2-S18-S1-F-R-W-35-E-5-A.csv,2020-12-22 01:43:48.664
...,...,...,...,...,...,...
28303,141.674,-0.347,-0.724,0.572,S1-S7-S2-M-R-A-31-M-2-A.csv,2020-07-22 07:33:24.434
28304,141.678,-0.353,-0.712,0.554,S1-S7-S2-M-R-A-31-M-2-A.csv,2020-07-22 07:33:24.438
28305,141.682,-0.368,-0.710,0.528,S1-S7-S2-M-R-A-31-M-2-A.csv,2020-07-22 07:33:24.442
28306,141.688,-0.385,-0.707,0.515,S1-S7-S2-M-R-A-31-M-2-A.csv,2020-07-22 07:33:24.448
28307,141.693,-0.396,-0.711,0.476,S1-S7-S2-M-R-A-31-M-2-A.csv,2020-07-22 07:33:24.453

In [ ]:
def vector_magnitude(vectors, axis=None):
    """Compute the magnitude of multi-dimensional vectors"""
    # alternative is numpy.linalg.norm(vectors)
    mag = numpy.linalg.norm(vectors, axis=axis)
    return mag

In [ ]:
def resample(df, freq='1min', func='median', group='device_id', time='end_time', numeric_only=True):
    grouped = df.reset_index().set_index(time).groupby(group, observed=True).resample(freq)
    out = grouped.agg(func, numeric_only=numeric_only).reset_index().set_index([group, time])

    return out


acc_lp = resample(acc, freq='1s', func='mean', group='filename', time='time')
acc_lp = acc_lp.reset_index()
acc_lp = pandas.merge(acc_lp, meta, left_on='filename', right_on='filename')

# Setting 2 has more specific protocol
# Pause for a few seconds in between different regions and bring the brush to a reference point
acc_lp = acc_lp[acc_lp.setting == 'S2'] 
acc_lp = acc_lp[acc_lp.sensor_location == 'A']

acc_lp

In [ ]:
import plotly.express

sel_files = acc_lp.reset_index().filename.sample(n=20)
sel = acc_lp.reset_index()
sel = sel[sel.filename.isin(sel_files)]

plotly.express.line(sel, 
                    x='elapsed',
                    y='acc_x',
                    facet_row='filename',
                    height=1000,
                    width=1000,
                   )

In [ ]:
fig = plotly.express.scatter(sel, 
                    x='acc_x',
                    y='acc_y',
                    color='filename',
                    height=800,
                    width=800,
                    opacity=0.5,
                   )
fig.update_traces(marker=dict(size=5.0))
fig.update_layout(showlegend=False)

In [ ]:
fig = plotly.express.scatter(sel, 
                    x='acc_x',
                    y='acc_y',
                    color='subject',
                    height=800,
                    width=800,
                    opacity=0.5,
                   )
fig.update_traces(marker=dict(size=5.0))
fig.update_layout(showlegend=False)

In [ ]:
fig = plotly.express.scatter(sel, 
                    x='acc_y',
                    y='acc_z',
                    color='subject',
                    height=800,
                    width=800,
                    opacity=0.5,
                   )
fig.update_traces(marker=dict(size=5.0))
fig.update_layout(showlegend=False)